{% extends 'admin_base.html' %}

{% block page_title %}Gestión de Administradores{% endblock %}

{% block page_actions %}
<div class="page-actions">
  {% include 'partials/export_button.html' %}
  <a href="{% url 'usuarios:usuario_create' %}?rol=Administrador" class="btn-pill btn-primary">
    <svg aria-hidden="true"><use href="#icon-plus"></use></svg>Registrar
  </a>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4 px-4" style="font-family: 'Poppins', sans-serif; color: #4A4A4A;">


    {% include 'admin/usuarios/_partials/tabla_usuarios.html' with usuarios_list=usuarios_list titulo=titulo_crud badge_color=badge_color badge_text=badge_text %}
</div>
{% endblock %}
